<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head.ejs") %>
  <body>
    <%- include("includes/client-navigation.ejs") %>
    <main>
      <h1>Welcome to the Shop!</h1>
      <% if (orders.length > 0) { %>
      <div class="grid">
        <% for( let order of orders ) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">Bàn số <%= order.tableNumber %></h1>
            <p class="product__time">Giờ vào: <%= order.time %></p>
          </header>
          <div class="card__content">
            <h2 class="product__total">Tổng tiền: <%= order.total %></h2>
            <p class="product__status">Trạng thái: <%= order.status %></p>
          </div>
          <div class="card__actions">
            <button class="btn">Chi tiết</button>
            <button class="btn">Hoàn thành</button>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h2>Không có đơn hàng nào</h2>
      <% } %>
    </main>
  </body>
</html>
